<div id="jumbo-container"class="container">
  <div class="jumbotron">
    <div id="jumbo-info-container"class="container">
      <h1 id="jumbo-title" class="text-center">Welcome to {{title}}</h1>
      <p class="text-center">Sign in to view your teams and scores. If you haven't signed up yet, click the link below!</p>
      <p class="text-center"><a class="btn btn-primary btn-lg" href="/auth" role="button">Sign-In</a></p>
      <p class="text-center"><a class="btn btn-primary btn-lg" href="/auth" role="button">Sign-Up</a></p>
    </div>
  </div>
</div>
